support/node-red/nodered-demo-flow.json
[{"id":"3b515419.1de51c","type":"tab","label":"Flow 1"},{"id":"b9b3a84d.3c09a8","type":"mqtt-broker","z":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"3e0fec58.184d74","type":"mqtt in","z":"3b515419.1de51c","name":"temp","topic":"nodered/temp","qos":"2","broker":"b9b3a84d.3c09a8","x":130,"y":200,"wires":[["4838a07d.cc555","f1601f8e.6395d","a5369383.fafa9"]]},{"id":"b00946f6.28c1b8","type":"mqtt out","z":"3b515419.1de51c","name":"blue LED","topic":"nodered/blue","qos":"0","retain":"","broker":"b9b3a84d.3c09a8","x":1060,"y":200,"wires":[]},{"id":"d017dcc0.67d1","type":"inject","z":"3b515419.1de51c","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"1","crontab":"","once":false,"x":570,"y":120,"wires":[["10ab9e59.4a35c2"]]},{"id":"10ab9e59.4a35c2","type":"function","z":"3b515419.1de51c","name":"alternate","func":"context.value = context.value || 0\ncontext.value = 1 - context.value\nmsg.payload = context.value\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":120,"wires":[["75ec3573.9eb74c"]]},{"id":"75ec3573.9eb74c","type":"function","z":"3b515419.1de51c","name":"to string","func":"msg.payload = msg.payload.toString()\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":120,"wires":[[]]},{"id":"4838a07d.cc555","type":"function","z":"3b515419.1de51c","name":"upper threshold","func":"var temp = parseFloat(msg.payload);\nif (temp >= 30.0) {\n  msg.payload = \"1\";\n  return msg;\n}","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["b00946f6.28c1b8"]]},{"id":"2a31749e.cbdcfc","type":"mqtt out","z":"3b515419.1de51c","name":"green LED","topic":"nodered/green","qos":"2","retain":"","broker":"b9b3a84d.3c09a8","x":1070,"y":440,"wires":[]},{"id":"828b454b.f5eb88","type":"mqtt in","z":"3b515419.1de51c","name":"button","topic":"nodered/button","qos":"0","broker":"b9b3a84d.3c09a8","x":130,"y":440,"wires":[["b1767c20.8cdc5","3786c506.a87d7a"]]},{"id":"b1767c20.8cdc5","type":"function","z":"3b515419.1de51c","name":"splitter","func":"if (msg.payload == \"1\") {\n    node.send([{ payload:\"1\" }, { payload:\"0\" }])\n}","outputs":"2","noerr":0,"x":290,"y":440,"wires":[["2a31749e.cbdcfc"],["bd4b8e64.e6635"]],"outputLabels":["on","off"]},{"id":"bd4b8e64.e6635","type":"delay","z":"3b515419.1de51c","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":480,"wires":[["2a31749e.cbdcfc"]]},{"id":"f1601f8e.6395d","type":"debug","z":"3b515419.1de51c","name":"","active":true,"console":"false","complete":"false","x":310,"y":300,"wires":[]},{"id":"3786c506.a87d7a","type":"debug","z":"3b515419.1de51c","name":"","active":true,"console":"false","complete":"false","x":310,"y":480,"wires":[]},{"id":"a5369383.fafa9","type":"function","z":"3b515419.1de51c","name":"lower threshold","func":"var temp = parseFloat(msg.payload);\nif (temp < 28.0) {\n  msg.payload = \"0\";\n  return msg;\n}","outputs":1,"noerr":0,"x":320,"y":240,"wires":[["b00946f6.28c1b8"]]}]